img {
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(rgb(232, 170, 170), rgb(164, 255, 164), rgb(119, 119, 250), alpha);
}

* {
    background-color: #deefef;
}

h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 700px;
    margin-top: 50px;
}

.upper_section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color:#000000 ;
}

.upper_section p {
    font-weight: 500;
    font-family:'Times New Roman', Times, serif ;
}

.middle_section {
    float: left;
    font-size: 18px;
    display: flex;
    margin-left: 10px;
    color: #000000;
    margin-bottom: 100px;
    margin-top: 80px;
}

.buttons {
    clear: both;
    color: #000000;
}

.button a {
    color: #000000;
    margin-left: 20px;
}

.footer {
    clear: both;
    padding-top: 100px;
    font-size: 14px;
    line-height: 12px;
    color: #000000;
}

